thead,tfoot{
    background-color: #576F72;
    color: rgb(255, 255, 255);
}
body{
    background-color:  rgb(250, 247, 243);
}
hr {
    border-color:#90C8AC;
    border-style: dotted none none;
    border-width: 5px;
    height: 1px;
    width: 90%;
}


h1,h3 {
    color: rgb(80, 139, 173);
}
.roob {
    height: 100px;
}
.ex {
    height: 600px;
    width: 600px;
    background-color: palevioletred;
    border: solid;
    border-width: 20px;
    border-top: 0px;
    padding: auto;
    /* overflow: hidden; */
    margin: 10px;
}
.Bcloud {
    position: absolute;
    left: 500px;
    
} 
.top-cont {
    position: relative;
    background-color: #76b4dd;
    padding: 100px  ;
}
.top-cloud {
    position: absolute;
    right: 450px;
    top: 50px;
}