thead,tfoot{
    background-color: #576F72;
    color: rgb(255, 255, 255);
    
}
.body{
    background-color:  rgb(250, 247, 243);
}
.hr {
    border-color:#90C8AC;
    border-style: dotted none none;
    border-width: 5px;
    height: 12px;
    width: 95%;
    margin: auto;
}


.h1,h3 {
    color: rgb(80, 139, 173)
}


.sp {
    margin-left: 20px;

}
.sp1 {
    margin-left: 10px;

}
